$color1:#21243D;
$color2:#333333;
$color3:#003459;
$color4:#D00000;
$color5-card:#F6F6F6;
$color6-header:#F4F5F7;
$color7:#F8F9FA;
$color8:#FFE6E0;

body{
    font-family: 'IBM Plex Serif', serif;
    background-color: #ffffff;
}

.page{
    padding-top: 100px;
    padding-bottom: 100px;

    &-light-header{
        background-color: #F4F5F7;
    }

    &-light{
        background-color: #ffffff;
    }

    &-dark{
        background-color: #F4F5F7;
    }
}


.wrapper{
    max-width: 1236px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
/* ========================= Стилизация Header Start ============================*/
.header{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;  
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    &-item{
        margin-right: 52px;
    }
    &-link{
        color:$color1;
        text-decoration: none;  
    }
}
.cart{
    background-image: url(../img/Icons-shop.png);
    display: block;
    padding-left: 50px;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
/* ========================= Стилизация Header End ============================*/



/* ========================= Стилизация Collection title Start ============================*/
.title-h2{
    text-align: center;
    font-size: 36px;
    margin-top: -20px;
    margin-bottom: 55px;
}
/* ========================= Стилизация Collection title End ============================*/



/* ========================= Стилизация  Button Start ============================*/
.btn{
    background-color: $color1;
    color: #fff;
    font-size: 14px;
    margin-top: 40px;
    
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 20px;
}
/* ========================= Стилизация Button End ============================*/


/* ========================= Стилизация Main Start ============================*/
.main{
    display: flex;
    margin-top: -50px;
    justify-content: space-between;
    &-item{
        flex: 50% 0 50%;
    }
    .sale{
        &-description{
            margin-top: -10px;
            font-size: 20px;
            margin-bottom: 40px;
            margin-right: 250px;
        }
        &-title1{
           margin-top: 90px;
           font-size: 44px;
           font-weight: 700; 
        }
        &-title2{
            margin-top: -25px;
            font-size: 44px;
            font-weight: 700; 
         }
    }
}
/* ========================= Стилизация Main End ============================*/


/* ========================= Стилизация Notice Start ============================*/
.notice{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 50px 0;
}

/* ========================= Стилизация Notice End ============================*/



/* ========================= Стилизация Collection Products End ============================*/
.production{
    display: flex;
    justify-content: space-between;
    text-align: center;

    &-title{
       font-weight: 700;
        margin-bottom: 15px;
    }
    &-description{
        color: #000;
        margin-top: -10px;
     }
     &-item{
     background-color:$color6-header;
     border-radius: 10px;
     }

}
.wrapper-collection1{
    max-width: 1236px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.wrapper-collection2{
    max-width: 1236px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

/* ========================= Стилизация Collection Products End ============================*/



/* ========================= Стилизация FOOTER Start ============================*/

  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color:$color6-header;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  /* ========================= Стилизация FOOTER End ============================*/